.screen {
    padding-right: 13.5em;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #edf1f2;
}

.custom-container {
    max-width: 100%;
    padding: 1.5em;
}

@media (max-width: 767px) {
    .screen {
        padding-right: 0;
        padding-top: 8.25em;
    }

    .custom-container {
        padding: 0;
    }
}
